<h2 class="page-title center-text">Log in</h2>

<div class="form-box">
  <div class="auth-form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      
      <div class="form-group">
        <%= f.label :email, class: "form-label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-input" %>
      </div>

      <div class="form-group">
        <%= f.label :password, class: "form-label" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "form-input" %>
      </div>
      
      <% if devise_mapping.rememberable? %>
        <div class="remember"> 
          <div class="form-group-remember">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.submit "Log in", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <div class="center-text">
    <%= render "devise/shared/links" %>
  </div>
</div>